body{
    background-color: #cccccc;
}

p{
    font-family: Source Sans Pro, regular;
    font-size: 16px;
    color: #5a5150;
    line-height: 1.8;
}

h2{
    font-family: Karla, regular;
    font-size: 40px;
    color: #4e4b4b;
    line-height:1.2
}

h3{
    font-family: Karla, regular;
    font-size: 16px;
    color: #4e4b4b;
    line-height: 1.4;
}

h4{
    font-family: Karla;
    font-size: 16px;
    color: #919291;
    line-height: 1.4;
}

a:link{
    font-family: Karla;
    font-size: 14px;
    color: #ca404f;
    line-height: 1.4;
}

a:visited{
    color: orange;
}

abbr{
    text-decoration-thickness: 1px;
}

abbr:hover{
    text-decoration: underline;
    text-decoration-color: #ca404f;
}

.wrapper{
    background-color: aliceblue;
    margin: 50px auto;
    padding: 0 40px;
}

header{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0 3px 10px rgb(0, 0, 0 / 6%);*/ /*krijg die stomme schaduw niet aan het werk ughhhhhhh*/
}

main{
    padding: 0px 60px;
    background-color: aliceblue;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    border: dotted tomato;
    border-width: 1px;
}

.logo{
    margin-top: 10px;
}

ul.main-menu{
    list-style: none;
}

li.menu-item{
    display: inline-block;
    padding-right:15px;
}

li.menu-item a{
    color: #4e4b4b;
    text-decoration: none;
}

li.menu-item a:hover{
    color:#ca404f;
    text-decoration: underline;
}

ul.socials{
    list-style: none;
}

li.platform{
    display: inline-block;
    padding-left: 15px;
}

li.platform a{
    color: #4e4b4b;
}

li.platform a:hover{
    color:#ca404f;                  /*wil iedere link zijn eigen kleur maar anders moet ik die kut code weer aanpassen :/ */
}

button{
    font-family: Karla, bold;
    font-size: 16px;
    color:#ffffff;
    line-height: 42px;
    background-color: #ca404f;
    padding: 0px 15px;
}

nav{
    font-family: Karla, regular;
    font-size: 16px;
    color: #4e4b4b;
    line-height: 1.4;
}

.repts_lib{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rept{
    width: 1040px;
    display:flex;
}

.rept_desc{
    width: 485px;
    margin-right: 70px;
    /*padding-top: 60px;*/
}

.rept_desc p{
    margin: 60px 0px;
}

.rept_elab{

}

.rept_img{
    width: 485px;
    margin-right: 70px;
    /*position: fixed;
    top: 40px;
    left: 120px;
    z-index: -1;*/     /*bepaalt de layers in een html document, thanks Marius!*/
}

.rept_elab{
    /*margin-top: 60px;*/
}

.other_items{
    margin-top: 50px    ;
}

.item{
    display: flex;                      /*Auke heeft me hiermee geholpen*/
    justify-content: space-between;
    width: 485px;
    border-bottom: #eaeaea solid 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.item_link{
    position: relative;
   
}

.item_text{

}

.item_img{
    width: 100px;
    border-radius: 5%;
}    /*display: grid;
    grid-template-columns: auto 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;*/

.test_objn{
    display: flex;
    justify-content: space-evenly;
}

.teste_lokaal1{
    padding: 30px 30px;
    border-style: dotted;
    border-width: 1px;
    border-color: tomato;
}

#lok1_txt{
    color: yellowgreen;
}

.teste_lokaal2{
    padding: 30px 30px;
    border-style: dotted;
    border-width: 1px;
    border-color: tomato;
}

#lok2_txt{
    color: darkseagreen;
}

#teste_kaart1{
    padding: 30px 30px;
    border-style: dotted;
    border-width: 1px;
    border-color: tomato;
}

#crd1_txt{
    color: darkred;
}

#teste_kaart2{
    padding: 30px 30px;
    border-style: dotted;
    border-width: 1px;
    border-color: tomato;
}

#crd2_txt{
    color: palegreen;
}

.act_buttons{
    display: flex;
    justify-content: space-evenly;
}

.lok1_butt{
    font-family: Karla, bold;
    font-size: 16px;
    color:#ffffff;
    line-height: 42px;
    background-color: #ca404f;
    padding: 0px 15px;
}

.ok2_butt{
    font-family: Karla, bold;
    font-size: 16px;
    color:#ffffff;
    line-height: 42px;
    background-color: #ca404f;
    padding: 0px 15px;
}

.rd1_butt{
    font-family: Karla, bold;
    font-size: 16px;
    color:#ffffff;
    line-height: 42px;
    background-color: #ca404f;
    padding: 0px 15px;
}

.rd2_butt{
    font-family: Karla, bold;
    font-size: 16px;
    color:#ffffff;
    line-height: 42px;
    background-color: #ca404f;
    padding: 0px 15px;
}
