p{
    font-family: Source Sans Pro, regular;
    font-size: 16px;
    color: #5a5150;
    line-height: 1.8;
}

h2{
    font-family: Karla, regular;
    font-size: 40px;
    color: #4e4b4b;
    line-height:1.2
}

h3{
    font-family: Karla, regular;
    font-size: 16px;
    color: #4e4b4b;
    line-height: 1.4;
}

h4{
    font-family: Karla;
    font-size: 16px;
    color: #919291;
    line-height: 1.4;
}

a{
    font-family: Karla;
    font-size: 14px;
    color: #ca404f;
    line-height: 1.4;
}

.button{
    font-family: Karla, bold;
    font-size: 16px;
    color:#ffffff;
    line-height: 42px;
    background-color: #ca404f;
}

.nav{
    font-family: Karla, regular;
    font-size: 16px;
    color: #4e4b4b;
    line-height: 1.4;
}